.hero-slider {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  

}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 3s ease;
}

.current {
  opacity: 1;
}

.arrow {
  z-index: 999;
  position: absolute;
  width: 100%;
  visibility: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(0 -50%);
  animation: slide-up 3s ease;
  animation-fill-mode: forwards;
  visibility: hidden;
  color: #252e48;
  width: 500px;
  margin-bottom: 1rem;
}
.content h1 {
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.content p {
  margin-bottom: 25px;
}
.content hr {
  margin-bottom: 10px;
}
.white-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(0 -50%);
  animation: slide-up 3s ease;
  animation-fill-mode: forwards;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
  width: 500px;
  margin-bottom: 1rem;
  border-radius: 10px;
}
.white-content h1 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 25px;
}
.white-content p {
  margin-bottom: 25px;
}
.white-content hr {
  margin-bottom: 10px;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    top: 10%;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 30%;
  }
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
  }
}
.btn {
  text-align: center;
  width: 150px;
  align-self: flex-end;
  cursor: pointer;
}

/*  */
/* .hero-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.hero-text-wrapper {
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding:0 0 0 75px;
}

.hero-title {
  z-index: 2;
  color:#252e48;;
  opacity: 0.7;
  font-family: "Lato", sans-serif;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  width: 50%;
  max-width:500px; 
}

.hero-tagLine {
  width: 50%;
  text-align: center;
  z-index: 3;
} */
